@{
    ViewBag.Title = "Pizza Shop";
}

<div class="text-left">
    <h2>Welcome to Pizza Shop</h2>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-controller="Order" asp-action="PlaceOrder">Place an Order</a>
    <br />
    <br />
    <a class="btn btn-primary" asp-controller="Order" asp-action="ViewOrders">View Your Orders</a>
    <br />
</div>

